body {
	display: flex;
	margin: 0px;
	justify-content: center;
	background-color: #fff;
	font-family: Roboto;
}

#canvas {
	background-color: #fff;
	margin-top: 60px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputWin {
	display: flex;
	flex-direction: column;

	width: 300px;
	height: 300px;
	margin-left: 50px;
	margin-top: 60px;

	border: 1px solid #bbb;
	border-radius: 10px;
}

.controlObj {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.inputObj {
	margin-top: 20px;
	padding-left: 5px;

	outline: none;
	height: 25px;
	width: 195px;

	border: 1px solid #bbb;
	border-radius: 5px;

	font-size: 16px;
}

.sendObj {
	transition: all 0.2s ease;
	width: 200px;
	height: 30px;
	margin-top: 10px;

	border: 1px solid #bbb;
	border-radius: 5px;
	outline: none;

	font-size: 14px;
	margin-bottom: 20px;
}

.sendObj:hover {
	background-color: #338be6;
	color: #fff;
}
	
.paintOp {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.colorCh {
	margin-top: 20px;
	margin-bottom: 5px;
	padding-left: 5px;

	outline: none;
	height: 25px;
	width: 195px;

	border: 1px solid #bbb;
	border-radius: 5px;

	font-size: 16px;
}

.thickCh {
	outline: none;
}