<!doctype html>

<html lang="en">
	<head>
  		<meta charset="utf-8">
  		<title>NN</title>
  		<link rel="stylesheet" href="http://localhost:5000/static/styles.css">
  		<link href=' http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<canvas id="canvas" width="500" height="500"></canvas>
		<div class="inputWin">
			<div class="controlObj">
				<input placeholder="Name of paint" class="inputObj" type="text">
				<button class="sendObj">Send</button>
			</div>
			<div class="paintOp">
				<input placeholder="Color in hex (with hashtag)" class="colorCh" type="text">
				<div class="thinckessControl">
					<label for="thickCh" class="thickLab">Thickness: 3px</label>	
					<input class="thickCh" type="range">
				</div>
			</div>
		</div>
		<script src="http://localhost:5000/static/index.js"> </script>
	</body>
</html>
